body {
  max-width: 320px;
  margin: auto;
  background-color: black;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Big Shoulders Text', cursive;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 36px;
}

p {
  font-family: 'Roboto', sans-serif;
}

div {
  padding: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 4px;
  background-color: #EA6880;
}

.element {
  color: black;
  font-family: 'Big Shoulders Text', cursive;
  font-size: 14px;
}

.badalamenti {
  background-color: #006DA5;
  padding-top: 0;
}

.lynch-badalamenti {
  background-color: #EA6880;
}

.musique {
  background-color: #006DA5;
}

.mulholland {
  color: #fff;
}

.citation {
  color: #fff;
}

footer {
  background-color: #EA6880;
}

.legende {
  font-size: 10px;
}