body {
  max-width: 320px;
  margin: auto;
  background-color: black;
}

img {
  display: block;
  max-width: 100%;
}

.badalamenti {
  background-color: #006DA5;
}

.lynch-badalamenti {
  background-color: #EA6880;
}

.musique {
  background-color: #006DA5;
}

footer {
  background-color: #EA6880;
}

nav {
  background-color: #EA6880;
  color: black;
}