body {
  max-width: 320px;
  margin: auto;
  background-color: black;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Big Shoulders Text', cursive;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 36px;
}

p {
  font-family: 'Roboto', sans-serif;
}

div {
  padding: 15px;
}

.badalamenti {
  background-color: #006DA5;
}

.lynch-badalamenti {
  background-color: #EA6880;
}

.musique {
  background-color: #006DA5;
}

.mulholland {
  color: #fff;
}

.citation {
  color: #fff;
}

footer {
  background-color: #EA6880;
}

nav {
  background-color: #EA6880;
  color: black;
}